<h1>Welcome to <%=@user.name%>'s profile</h1>
<table>
  <tr>
    <th>His Username: </th>
    <td><%=@user.name%></td>
  </tr>
  <tr>
    <th>His status: </th>
    <td><%=@user.status %></td>
  </tr>

  <tr>
    <td><%= link_to 'Edit', edit_user_path(@user) %></td>
    <td><%= link_to 'Destroy', user_path, method: :delete, data: { confirm: 'Are you sure?'} %></td>
  </tr>
</table>
