<div class="jumbotron">
  <div class="container">
    <div class="row">
       <p class="lead">
        <img src="https://robohash.org/abdel23" alt="I'm abdel23"><br>
       </p>
       <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
         New post
       </button>
    </div>
    <div class="row">
      <h1>This is the posts page</h1>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New post</h4>
      </div>
      <form id="post-form" >
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Username:</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label for="recipient-title" class="control-label">Title:</label>
            <input type="text" class="form-control" name="title">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Content:</label>
            <textarea class="form-control" name="content"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" value="SUBMIT" class="btn btn-primary" >Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<table>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <a><img src=<%="https://robohash.org/#{post.name}"%> class="img-circle" alt="I'm Yeoman"><br></a>
        <a class="btn btn-lg btn-success"><%=post.name%><span class="glyphicon glyphicon-ok"></span></a>
      </td>
      <td>
        <a><h1><%= post.title %></h1></a>
        <a><%= post.content %></a>
      </td>
      <td><a class="btn btn-default" href=<%="posts/#{post.id}"%> role="button">Show &raquo;</a></td>
      <td><%= link_to  "Delete", post, :class=>"btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


<script type="text/javascript" language = "javascript">
  $(function(){
    $('#post-form').on('submit', function(e){
        e.preventDefault();
        $.ajax({
            url: "posts", //this is the submit URL
            type: 'POST',
            data: $('#post-form').serializeArray(),
            dataType: "json",
            success: function(result){
                 alert('successfully submitted')
            }
        });
    });
  });
</script>

